<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzq.dal.mapper.order.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.tzq.dal.model.order.OrderInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SalesPlatform" jdbcType="INTEGER" property="salesplatform" />
    <result column="PurchasePlatform" jdbcType="INTEGER" property="purchaseplatform" />
    <result column="CreatTime" jdbcType="TIMESTAMP" property="creattime" />
    <result column="OutTicketTime" jdbcType="TIMESTAMP" property="outtickettime" />
    <result column="OrderNo" jdbcType="VARCHAR" property="orderno" />
    <result column="PNR" jdbcType="VARCHAR" property="pnr" />
    <result column="TicketNo" jdbcType="VARCHAR" property="ticketno" />
    <result column="OrderState" jdbcType="TINYINT" property="orderstate" />
    <result column="DepCode" jdbcType="VARCHAR" property="depcode" />
    <result column="ArrCode" jdbcType="VARCHAR" property="arrcode" />
    <result column="DepDate" jdbcType="DATE" property="depdate" />
    <result column="DepTime" jdbcType="TIMESTAMP" property="deptime" />
    <result column="BackDate" jdbcType="DATE" property="backdate" />
    <result column="BackTime" jdbcType="TIMESTAMP" property="backtime" />
    <result column="Cabin" jdbcType="VARCHAR" property="cabin" />
    <result column="BackCabin" jdbcType="VARCHAR" property="backcabin" />
    <result column="FlightNo" jdbcType="VARCHAR" property="flightno" />
    <result column="BackFlightNo" jdbcType="VARCHAR" property="backflightno" />
    <result column="AduitSalesPrice" jdbcType="DECIMAL" property="aduitsalesprice" />
    <result column="AduitPurchasePirce" jdbcType="DECIMAL" property="aduitpurchasepirce" />
    <result column="ChildSalesPrice" jdbcType="DECIMAL" property="childsalesprice" />
    <result column="ChildPurchasePirce" jdbcType="DECIMAL" property="childpurchasepirce" />
    <result column="BabySalesPrice" jdbcType="DECIMAL" property="babysalesprice" />
    <result column="BabyPurchasePirce" jdbcType="DECIMAL" property="babypurchasepirce" />
    <result column="BackAduitSalesPrice" jdbcType="DECIMAL" property="backaduitsalesprice" />
    <result column="BackAduitPurchasePirce" jdbcType="DECIMAL" property="backaduitpurchasepirce" />
    <result column="BackChildSalesPrice" jdbcType="DECIMAL" property="backchildsalesprice" />
    <result column="BackChildPurchasePirce" jdbcType="DECIMAL" property="backchildpurchasepirce" />
    <result column="BackBabySalesPrice" jdbcType="DECIMAL" property="backbabysalesprice" />
    <result column="BackBabyPurchasePirce" jdbcType="DECIMAL" property="backbabypurchasepirce" />
    <result column="TotalSalesPrice" jdbcType="DECIMAL" property="totalsalesprice" />
    <result column="TotalPurchasePrice" jdbcType="DECIMAL" property="totalpurchaseprice" />
    <result column="AuditCount" jdbcType="INTEGER" property="auditcount" />
    <result column="ChildCount" jdbcType="INTEGER" property="childcount" />
    <result column="BabyCount" jdbcType="INTEGER" property="babycount" />
    <result column="OutTicketType" jdbcType="VARCHAR" property="outtickettype" />
    <result column="OutTicketCompany" jdbcType="VARCHAR" property="outticketcompany" />
    <result column="LinkName" jdbcType="VARCHAR" property="linkname" />
    <result column="LinkMobile" jdbcType="VARCHAR" property="linkmobile" />
    <result column="LinkEmail" jdbcType="VARCHAR" property="linkemail" />
    <result column="LinkAddress" jdbcType="VARCHAR" property="linkaddress" />
    <result column="LinkPostCode" jdbcType="VARCHAR" property="linkpostcode" />
    <result column="ExtendValue" jdbcType="VARCHAR" property="extendvalue" />
    <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SalesPlatform, PurchasePlatform, CreatTime, OutTicketTime, OrderNo, PNR, TicketNo, 
    OrderState, DepCode, ArrCode, DepDate, DepTime, BackDate, BackTime, Cabin, BackCabin, 
    FlightNo, BackFlightNo, AduitSalesPrice, AduitPurchasePirce, ChildSalesPrice, ChildPurchasePirce, 
    BabySalesPrice, BabyPurchasePirce, BackAduitSalesPrice, BackAduitPurchasePirce, BackChildSalesPrice, 
    BackChildPurchasePirce, BackBabySalesPrice, BackBabyPurchasePirce, TotalSalesPrice, 
    TotalPurchasePrice, AuditCount, ChildCount, BabyCount, OutTicketType, OutTicketCompany, 
    LinkName, LinkMobile, LinkEmail, LinkAddress, LinkPostCode, ExtendValue, ModifyTime
  </sql>
  <select id="selectByExample" parameterType="com.tzq.dal.model.order.OrderInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tzq.dal.model.order.OrderInfoExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tzq.dal.model.order.OrderInfo">
    insert into orders (ID, SalesPlatform, PurchasePlatform, 
      CreatTime, OutTicketTime, OrderNo, 
      PNR, TicketNo, OrderState, 
      DepCode, ArrCode, DepDate, 
      DepTime, BackDate, BackTime, 
      Cabin, BackCabin, FlightNo, 
      BackFlightNo, AduitSalesPrice, AduitPurchasePirce, 
      ChildSalesPrice, ChildPurchasePirce, BabySalesPrice, 
      BabyPurchasePirce, BackAduitSalesPrice, 
      BackAduitPurchasePirce, BackChildSalesPrice, 
      BackChildPurchasePirce, BackBabySalesPrice, 
      BackBabyPurchasePirce, TotalSalesPrice, 
      TotalPurchasePrice, AuditCount, ChildCount, 
      BabyCount, OutTicketType, OutTicketCompany, 
      LinkName, LinkMobile, LinkEmail, 
      LinkAddress, LinkPostCode, ExtendValue, 
      ModifyTime)
    values (#{id,jdbcType=INTEGER}, #{salesplatform,jdbcType=INTEGER}, #{purchaseplatform,jdbcType=INTEGER}, 
      #{creattime,jdbcType=TIMESTAMP}, #{outtickettime,jdbcType=TIMESTAMP}, #{orderno,jdbcType=VARCHAR}, 
      #{pnr,jdbcType=VARCHAR}, #{ticketno,jdbcType=VARCHAR}, #{orderstate,jdbcType=TINYINT}, 
      #{depcode,jdbcType=VARCHAR}, #{arrcode,jdbcType=VARCHAR}, #{depdate,jdbcType=DATE}, 
      #{deptime,jdbcType=TIMESTAMP}, #{backdate,jdbcType=DATE}, #{backtime,jdbcType=TIMESTAMP}, 
      #{cabin,jdbcType=VARCHAR}, #{backcabin,jdbcType=VARCHAR}, #{flightno,jdbcType=VARCHAR}, 
      #{backflightno,jdbcType=VARCHAR}, #{aduitsalesprice,jdbcType=DECIMAL}, #{aduitpurchasepirce,jdbcType=DECIMAL}, 
      #{childsalesprice,jdbcType=DECIMAL}, #{childpurchasepirce,jdbcType=DECIMAL}, #{babysalesprice,jdbcType=DECIMAL}, 
      #{babypurchasepirce,jdbcType=DECIMAL}, #{backaduitsalesprice,jdbcType=DECIMAL}, 
      #{backaduitpurchasepirce,jdbcType=DECIMAL}, #{backchildsalesprice,jdbcType=DECIMAL}, 
      #{backchildpurchasepirce,jdbcType=DECIMAL}, #{backbabysalesprice,jdbcType=DECIMAL}, 
      #{backbabypurchasepirce,jdbcType=DECIMAL}, #{totalsalesprice,jdbcType=DECIMAL}, 
      #{totalpurchaseprice,jdbcType=DECIMAL}, #{auditcount,jdbcType=INTEGER}, #{childcount,jdbcType=INTEGER}, 
      #{babycount,jdbcType=INTEGER}, #{outtickettype,jdbcType=VARCHAR}, #{outticketcompany,jdbcType=VARCHAR}, 
      #{linkname,jdbcType=VARCHAR}, #{linkmobile,jdbcType=VARCHAR}, #{linkemail,jdbcType=VARCHAR}, 
      #{linkaddress,jdbcType=VARCHAR}, #{linkpostcode,jdbcType=VARCHAR}, #{extendvalue,jdbcType=VARCHAR}, 
      #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tzq.dal.model.order.OrderInfo">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="salesplatform != null">
        SalesPlatform,
      </if>
      <if test="purchaseplatform != null">
        PurchasePlatform,
      </if>
      <if test="creattime != null">
        CreatTime,
      </if>
      <if test="outtickettime != null">
        OutTicketTime,
      </if>
      <if test="orderno != null">
        OrderNo,
      </if>
      <if test="pnr != null">
        PNR,
      </if>
      <if test="ticketno != null">
        TicketNo,
      </if>
      <if test="orderstate != null">
        OrderState,
      </if>
      <if test="depcode != null">
        DepCode,
      </if>
      <if test="arrcode != null">
        ArrCode,
      </if>
      <if test="depdate != null">
        DepDate,
      </if>
      <if test="deptime != null">
        DepTime,
      </if>
      <if test="backdate != null">
        BackDate,
      </if>
      <if test="backtime != null">
        BackTime,
      </if>
      <if test="cabin != null">
        Cabin,
      </if>
      <if test="backcabin != null">
        BackCabin,
      </if>
      <if test="flightno != null">
        FlightNo,
      </if>
      <if test="backflightno != null">
        BackFlightNo,
      </if>
      <if test="aduitsalesprice != null">
        AduitSalesPrice,
      </if>
      <if test="aduitpurchasepirce != null">
        AduitPurchasePirce,
      </if>
      <if test="childsalesprice != null">
        ChildSalesPrice,
      </if>
      <if test="childpurchasepirce != null">
        ChildPurchasePirce,
      </if>
      <if test="babysalesprice != null">
        BabySalesPrice,
      </if>
      <if test="babypurchasepirce != null">
        BabyPurchasePirce,
      </if>
      <if test="backaduitsalesprice != null">
        BackAduitSalesPrice,
      </if>
      <if test="backaduitpurchasepirce != null">
        BackAduitPurchasePirce,
      </if>
      <if test="backchildsalesprice != null">
        BackChildSalesPrice,
      </if>
      <if test="backchildpurchasepirce != null">
        BackChildPurchasePirce,
      </if>
      <if test="backbabysalesprice != null">
        BackBabySalesPrice,
      </if>
      <if test="backbabypurchasepirce != null">
        BackBabyPurchasePirce,
      </if>
      <if test="totalsalesprice != null">
        TotalSalesPrice,
      </if>
      <if test="totalpurchaseprice != null">
        TotalPurchasePrice,
      </if>
      <if test="auditcount != null">
        AuditCount,
      </if>
      <if test="childcount != null">
        ChildCount,
      </if>
      <if test="babycount != null">
        BabyCount,
      </if>
      <if test="outtickettype != null">
        OutTicketType,
      </if>
      <if test="outticketcompany != null">
        OutTicketCompany,
      </if>
      <if test="linkname != null">
        LinkName,
      </if>
      <if test="linkmobile != null">
        LinkMobile,
      </if>
      <if test="linkemail != null">
        LinkEmail,
      </if>
      <if test="linkaddress != null">
        LinkAddress,
      </if>
      <if test="linkpostcode != null">
        LinkPostCode,
      </if>
      <if test="extendvalue != null">
        ExtendValue,
      </if>
      <if test="modifytime != null">
        ModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="salesplatform != null">
        #{salesplatform,jdbcType=INTEGER},
      </if>
      <if test="purchaseplatform != null">
        #{purchaseplatform,jdbcType=INTEGER},
      </if>
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="outtickettime != null">
        #{outtickettime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderno != null">
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="pnr != null">
        #{pnr,jdbcType=VARCHAR},
      </if>
      <if test="ticketno != null">
        #{ticketno,jdbcType=VARCHAR},
      </if>
      <if test="orderstate != null">
        #{orderstate,jdbcType=TINYINT},
      </if>
      <if test="depcode != null">
        #{depcode,jdbcType=VARCHAR},
      </if>
      <if test="arrcode != null">
        #{arrcode,jdbcType=VARCHAR},
      </if>
      <if test="depdate != null">
        #{depdate,jdbcType=DATE},
      </if>
      <if test="deptime != null">
        #{deptime,jdbcType=TIMESTAMP},
      </if>
      <if test="backdate != null">
        #{backdate,jdbcType=DATE},
      </if>
      <if test="backtime != null">
        #{backtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cabin != null">
        #{cabin,jdbcType=VARCHAR},
      </if>
      <if test="backcabin != null">
        #{backcabin,jdbcType=VARCHAR},
      </if>
      <if test="flightno != null">
        #{flightno,jdbcType=VARCHAR},
      </if>
      <if test="backflightno != null">
        #{backflightno,jdbcType=VARCHAR},
      </if>
      <if test="aduitsalesprice != null">
        #{aduitsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="aduitpurchasepirce != null">
        #{aduitpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="childsalesprice != null">
        #{childsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="childpurchasepirce != null">
        #{childpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="babysalesprice != null">
        #{babysalesprice,jdbcType=DECIMAL},
      </if>
      <if test="babypurchasepirce != null">
        #{babypurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="backaduitsalesprice != null">
        #{backaduitsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="backaduitpurchasepirce != null">
        #{backaduitpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="backchildsalesprice != null">
        #{backchildsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="backchildpurchasepirce != null">
        #{backchildpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="backbabysalesprice != null">
        #{backbabysalesprice,jdbcType=DECIMAL},
      </if>
      <if test="backbabypurchasepirce != null">
        #{backbabypurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="totalsalesprice != null">
        #{totalsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="totalpurchaseprice != null">
        #{totalpurchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="auditcount != null">
        #{auditcount,jdbcType=INTEGER},
      </if>
      <if test="childcount != null">
        #{childcount,jdbcType=INTEGER},
      </if>
      <if test="babycount != null">
        #{babycount,jdbcType=INTEGER},
      </if>
      <if test="outtickettype != null">
        #{outtickettype,jdbcType=VARCHAR},
      </if>
      <if test="outticketcompany != null">
        #{outticketcompany,jdbcType=VARCHAR},
      </if>
      <if test="linkname != null">
        #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linkmobile != null">
        #{linkmobile,jdbcType=VARCHAR},
      </if>
      <if test="linkemail != null">
        #{linkemail,jdbcType=VARCHAR},
      </if>
      <if test="linkaddress != null">
        #{linkaddress,jdbcType=VARCHAR},
      </if>
      <if test="linkpostcode != null">
        #{linkpostcode,jdbcType=VARCHAR},
      </if>
      <if test="extendvalue != null">
        #{extendvalue,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tzq.dal.model.order.OrderInfoExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.salesplatform != null">
        SalesPlatform = #{record.salesplatform,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseplatform != null">
        PurchasePlatform = #{record.purchaseplatform,jdbcType=INTEGER},
      </if>
      <if test="record.creattime != null">
        CreatTime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.outtickettime != null">
        OutTicketTime = #{record.outtickettime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderno != null">
        OrderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.pnr != null">
        PNR = #{record.pnr,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketno != null">
        TicketNo = #{record.ticketno,jdbcType=VARCHAR},
      </if>
      <if test="record.orderstate != null">
        OrderState = #{record.orderstate,jdbcType=TINYINT},
      </if>
      <if test="record.depcode != null">
        DepCode = #{record.depcode,jdbcType=VARCHAR},
      </if>
      <if test="record.arrcode != null">
        ArrCode = #{record.arrcode,jdbcType=VARCHAR},
      </if>
      <if test="record.depdate != null">
        DepDate = #{record.depdate,jdbcType=DATE},
      </if>
      <if test="record.deptime != null">
        DepTime = #{record.deptime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.backdate != null">
        BackDate = #{record.backdate,jdbcType=DATE},
      </if>
      <if test="record.backtime != null">
        BackTime = #{record.backtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cabin != null">
        Cabin = #{record.cabin,jdbcType=VARCHAR},
      </if>
      <if test="record.backcabin != null">
        BackCabin = #{record.backcabin,jdbcType=VARCHAR},
      </if>
      <if test="record.flightno != null">
        FlightNo = #{record.flightno,jdbcType=VARCHAR},
      </if>
      <if test="record.backflightno != null">
        BackFlightNo = #{record.backflightno,jdbcType=VARCHAR},
      </if>
      <if test="record.aduitsalesprice != null">
        AduitSalesPrice = #{record.aduitsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="record.aduitpurchasepirce != null">
        AduitPurchasePirce = #{record.aduitpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="record.childsalesprice != null">
        ChildSalesPrice = #{record.childsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="record.childpurchasepirce != null">
        ChildPurchasePirce = #{record.childpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="record.babysalesprice != null">
        BabySalesPrice = #{record.babysalesprice,jdbcType=DECIMAL},
      </if>
      <if test="record.babypurchasepirce != null">
        BabyPurchasePirce = #{record.babypurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="record.backaduitsalesprice != null">
        BackAduitSalesPrice = #{record.backaduitsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="record.backaduitpurchasepirce != null">
        BackAduitPurchasePirce = #{record.backaduitpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="record.backchildsalesprice != null">
        BackChildSalesPrice = #{record.backchildsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="record.backchildpurchasepirce != null">
        BackChildPurchasePirce = #{record.backchildpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="record.backbabysalesprice != null">
        BackBabySalesPrice = #{record.backbabysalesprice,jdbcType=DECIMAL},
      </if>
      <if test="record.backbabypurchasepirce != null">
        BackBabyPurchasePirce = #{record.backbabypurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="record.totalsalesprice != null">
        TotalSalesPrice = #{record.totalsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="record.totalpurchaseprice != null">
        TotalPurchasePrice = #{record.totalpurchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="record.auditcount != null">
        AuditCount = #{record.auditcount,jdbcType=INTEGER},
      </if>
      <if test="record.childcount != null">
        ChildCount = #{record.childcount,jdbcType=INTEGER},
      </if>
      <if test="record.babycount != null">
        BabyCount = #{record.babycount,jdbcType=INTEGER},
      </if>
      <if test="record.outtickettype != null">
        OutTicketType = #{record.outtickettype,jdbcType=VARCHAR},
      </if>
      <if test="record.outticketcompany != null">
        OutTicketCompany = #{record.outticketcompany,jdbcType=VARCHAR},
      </if>
      <if test="record.linkname != null">
        LinkName = #{record.linkname,jdbcType=VARCHAR},
      </if>
      <if test="record.linkmobile != null">
        LinkMobile = #{record.linkmobile,jdbcType=VARCHAR},
      </if>
      <if test="record.linkemail != null">
        LinkEmail = #{record.linkemail,jdbcType=VARCHAR},
      </if>
      <if test="record.linkaddress != null">
        LinkAddress = #{record.linkaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.linkpostcode != null">
        LinkPostCode = #{record.linkpostcode,jdbcType=VARCHAR},
      </if>
      <if test="record.extendvalue != null">
        ExtendValue = #{record.extendvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.modifytime != null">
        ModifyTime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set ID = #{record.id,jdbcType=INTEGER},
      SalesPlatform = #{record.salesplatform,jdbcType=INTEGER},
      PurchasePlatform = #{record.purchaseplatform,jdbcType=INTEGER},
      CreatTime = #{record.creattime,jdbcType=TIMESTAMP},
      OutTicketTime = #{record.outtickettime,jdbcType=TIMESTAMP},
      OrderNo = #{record.orderno,jdbcType=VARCHAR},
      PNR = #{record.pnr,jdbcType=VARCHAR},
      TicketNo = #{record.ticketno,jdbcType=VARCHAR},
      OrderState = #{record.orderstate,jdbcType=TINYINT},
      DepCode = #{record.depcode,jdbcType=VARCHAR},
      ArrCode = #{record.arrcode,jdbcType=VARCHAR},
      DepDate = #{record.depdate,jdbcType=DATE},
      DepTime = #{record.deptime,jdbcType=TIMESTAMP},
      BackDate = #{record.backdate,jdbcType=DATE},
      BackTime = #{record.backtime,jdbcType=TIMESTAMP},
      Cabin = #{record.cabin,jdbcType=VARCHAR},
      BackCabin = #{record.backcabin,jdbcType=VARCHAR},
      FlightNo = #{record.flightno,jdbcType=VARCHAR},
      BackFlightNo = #{record.backflightno,jdbcType=VARCHAR},
      AduitSalesPrice = #{record.aduitsalesprice,jdbcType=DECIMAL},
      AduitPurchasePirce = #{record.aduitpurchasepirce,jdbcType=DECIMAL},
      ChildSalesPrice = #{record.childsalesprice,jdbcType=DECIMAL},
      ChildPurchasePirce = #{record.childpurchasepirce,jdbcType=DECIMAL},
      BabySalesPrice = #{record.babysalesprice,jdbcType=DECIMAL},
      BabyPurchasePirce = #{record.babypurchasepirce,jdbcType=DECIMAL},
      BackAduitSalesPrice = #{record.backaduitsalesprice,jdbcType=DECIMAL},
      BackAduitPurchasePirce = #{record.backaduitpurchasepirce,jdbcType=DECIMAL},
      BackChildSalesPrice = #{record.backchildsalesprice,jdbcType=DECIMAL},
      BackChildPurchasePirce = #{record.backchildpurchasepirce,jdbcType=DECIMAL},
      BackBabySalesPrice = #{record.backbabysalesprice,jdbcType=DECIMAL},
      BackBabyPurchasePirce = #{record.backbabypurchasepirce,jdbcType=DECIMAL},
      TotalSalesPrice = #{record.totalsalesprice,jdbcType=DECIMAL},
      TotalPurchasePrice = #{record.totalpurchaseprice,jdbcType=DECIMAL},
      AuditCount = #{record.auditcount,jdbcType=INTEGER},
      ChildCount = #{record.childcount,jdbcType=INTEGER},
      BabyCount = #{record.babycount,jdbcType=INTEGER},
      OutTicketType = #{record.outtickettype,jdbcType=VARCHAR},
      OutTicketCompany = #{record.outticketcompany,jdbcType=VARCHAR},
      LinkName = #{record.linkname,jdbcType=VARCHAR},
      LinkMobile = #{record.linkmobile,jdbcType=VARCHAR},
      LinkEmail = #{record.linkemail,jdbcType=VARCHAR},
      LinkAddress = #{record.linkaddress,jdbcType=VARCHAR},
      LinkPostCode = #{record.linkpostcode,jdbcType=VARCHAR},
      ExtendValue = #{record.extendvalue,jdbcType=VARCHAR},
      ModifyTime = #{record.modifytime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tzq.dal.model.order.OrderInfo">
    update orders
    <set>
      <if test="salesplatform != null">
        SalesPlatform = #{salesplatform,jdbcType=INTEGER},
      </if>
      <if test="purchaseplatform != null">
        PurchasePlatform = #{purchaseplatform,jdbcType=INTEGER},
      </if>
      <if test="creattime != null">
        CreatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="outtickettime != null">
        OutTicketTime = #{outtickettime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderno != null">
        OrderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="pnr != null">
        PNR = #{pnr,jdbcType=VARCHAR},
      </if>
      <if test="ticketno != null">
        TicketNo = #{ticketno,jdbcType=VARCHAR},
      </if>
      <if test="orderstate != null">
        OrderState = #{orderstate,jdbcType=TINYINT},
      </if>
      <if test="depcode != null">
        DepCode = #{depcode,jdbcType=VARCHAR},
      </if>
      <if test="arrcode != null">
        ArrCode = #{arrcode,jdbcType=VARCHAR},
      </if>
      <if test="depdate != null">
        DepDate = #{depdate,jdbcType=DATE},
      </if>
      <if test="deptime != null">
        DepTime = #{deptime,jdbcType=TIMESTAMP},
      </if>
      <if test="backdate != null">
        BackDate = #{backdate,jdbcType=DATE},
      </if>
      <if test="backtime != null">
        BackTime = #{backtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cabin != null">
        Cabin = #{cabin,jdbcType=VARCHAR},
      </if>
      <if test="backcabin != null">
        BackCabin = #{backcabin,jdbcType=VARCHAR},
      </if>
      <if test="flightno != null">
        FlightNo = #{flightno,jdbcType=VARCHAR},
      </if>
      <if test="backflightno != null">
        BackFlightNo = #{backflightno,jdbcType=VARCHAR},
      </if>
      <if test="aduitsalesprice != null">
        AduitSalesPrice = #{aduitsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="aduitpurchasepirce != null">
        AduitPurchasePirce = #{aduitpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="childsalesprice != null">
        ChildSalesPrice = #{childsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="childpurchasepirce != null">
        ChildPurchasePirce = #{childpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="babysalesprice != null">
        BabySalesPrice = #{babysalesprice,jdbcType=DECIMAL},
      </if>
      <if test="babypurchasepirce != null">
        BabyPurchasePirce = #{babypurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="backaduitsalesprice != null">
        BackAduitSalesPrice = #{backaduitsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="backaduitpurchasepirce != null">
        BackAduitPurchasePirce = #{backaduitpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="backchildsalesprice != null">
        BackChildSalesPrice = #{backchildsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="backchildpurchasepirce != null">
        BackChildPurchasePirce = #{backchildpurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="backbabysalesprice != null">
        BackBabySalesPrice = #{backbabysalesprice,jdbcType=DECIMAL},
      </if>
      <if test="backbabypurchasepirce != null">
        BackBabyPurchasePirce = #{backbabypurchasepirce,jdbcType=DECIMAL},
      </if>
      <if test="totalsalesprice != null">
        TotalSalesPrice = #{totalsalesprice,jdbcType=DECIMAL},
      </if>
      <if test="totalpurchaseprice != null">
        TotalPurchasePrice = #{totalpurchaseprice,jdbcType=DECIMAL},
      </if>
      <if test="auditcount != null">
        AuditCount = #{auditcount,jdbcType=INTEGER},
      </if>
      <if test="childcount != null">
        ChildCount = #{childcount,jdbcType=INTEGER},
      </if>
      <if test="babycount != null">
        BabyCount = #{babycount,jdbcType=INTEGER},
      </if>
      <if test="outtickettype != null">
        OutTicketType = #{outtickettype,jdbcType=VARCHAR},
      </if>
      <if test="outticketcompany != null">
        OutTicketCompany = #{outticketcompany,jdbcType=VARCHAR},
      </if>
      <if test="linkname != null">
        LinkName = #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linkmobile != null">
        LinkMobile = #{linkmobile,jdbcType=VARCHAR},
      </if>
      <if test="linkemail != null">
        LinkEmail = #{linkemail,jdbcType=VARCHAR},
      </if>
      <if test="linkaddress != null">
        LinkAddress = #{linkaddress,jdbcType=VARCHAR},
      </if>
      <if test="linkpostcode != null">
        LinkPostCode = #{linkpostcode,jdbcType=VARCHAR},
      </if>
      <if test="extendvalue != null">
        ExtendValue = #{extendvalue,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        ModifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tzq.dal.model.order.OrderInfo">
    update orders
    set SalesPlatform = #{salesplatform,jdbcType=INTEGER},
      PurchasePlatform = #{purchaseplatform,jdbcType=INTEGER},
      CreatTime = #{creattime,jdbcType=TIMESTAMP},
      OutTicketTime = #{outtickettime,jdbcType=TIMESTAMP},
      OrderNo = #{orderno,jdbcType=VARCHAR},
      PNR = #{pnr,jdbcType=VARCHAR},
      TicketNo = #{ticketno,jdbcType=VARCHAR},
      OrderState = #{orderstate,jdbcType=TINYINT},
      DepCode = #{depcode,jdbcType=VARCHAR},
      ArrCode = #{arrcode,jdbcType=VARCHAR},
      DepDate = #{depdate,jdbcType=DATE},
      DepTime = #{deptime,jdbcType=TIMESTAMP},
      BackDate = #{backdate,jdbcType=DATE},
      BackTime = #{backtime,jdbcType=TIMESTAMP},
      Cabin = #{cabin,jdbcType=VARCHAR},
      BackCabin = #{backcabin,jdbcType=VARCHAR},
      FlightNo = #{flightno,jdbcType=VARCHAR},
      BackFlightNo = #{backflightno,jdbcType=VARCHAR},
      AduitSalesPrice = #{aduitsalesprice,jdbcType=DECIMAL},
      AduitPurchasePirce = #{aduitpurchasepirce,jdbcType=DECIMAL},
      ChildSalesPrice = #{childsalesprice,jdbcType=DECIMAL},
      ChildPurchasePirce = #{childpurchasepirce,jdbcType=DECIMAL},
      BabySalesPrice = #{babysalesprice,jdbcType=DECIMAL},
      BabyPurchasePirce = #{babypurchasepirce,jdbcType=DECIMAL},
      BackAduitSalesPrice = #{backaduitsalesprice,jdbcType=DECIMAL},
      BackAduitPurchasePirce = #{backaduitpurchasepirce,jdbcType=DECIMAL},
      BackChildSalesPrice = #{backchildsalesprice,jdbcType=DECIMAL},
      BackChildPurchasePirce = #{backchildpurchasepirce,jdbcType=DECIMAL},
      BackBabySalesPrice = #{backbabysalesprice,jdbcType=DECIMAL},
      BackBabyPurchasePirce = #{backbabypurchasepirce,jdbcType=DECIMAL},
      TotalSalesPrice = #{totalsalesprice,jdbcType=DECIMAL},
      TotalPurchasePrice = #{totalpurchaseprice,jdbcType=DECIMAL},
      AuditCount = #{auditcount,jdbcType=INTEGER},
      ChildCount = #{childcount,jdbcType=INTEGER},
      BabyCount = #{babycount,jdbcType=INTEGER},
      OutTicketType = #{outtickettype,jdbcType=VARCHAR},
      OutTicketCompany = #{outticketcompany,jdbcType=VARCHAR},
      LinkName = #{linkname,jdbcType=VARCHAR},
      LinkMobile = #{linkmobile,jdbcType=VARCHAR},
      LinkEmail = #{linkemail,jdbcType=VARCHAR},
      LinkAddress = #{linkaddress,jdbcType=VARCHAR},
      LinkPostCode = #{linkpostcode,jdbcType=VARCHAR},
      ExtendValue = #{extendvalue,jdbcType=VARCHAR},
      ModifyTime = #{modifytime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>